@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
    --black: #000;
    --white: #eeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    max-width: 2500px;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 6px;
    font-size: 18px;
}

img {
    width: 100%;
    object-fit: cover;
}
