<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="box-form active">
        <form action="">
            <input class="input-form" type="text" id="firt-name" placeholder="Nome">
            <input class="input-form" type="text" id="last-name" placeholder="Sobrenome">
            <input class="input-form" type="email" id="email-cad" placeholder="E-mail">
            <input class="input-form" type="password" id="password-1" placeholder="Senha">
            <input type="submit" id="btn-sign-in" value="Cadastrar">
        </form>
    </div>
    
</body>
</html>